$bc: #fff;
$kc: #000;
$btn: #000;
$sc: #689f38;
$white: #fff;
$black: #121212;
$red: #d81b60;
$blue: #17a2b8;
$green: #7cb342;
$yellow: #fdd835;
$orange: #ffa000;
$room: #fbc02d;
$cool: #2196f3;
$cold: #3f51b5;
$gray: #aaa;
$gray-light: #fafafa;

$colors: (
  bc: $bc,
  kc: $kc,
  btn: $btn,
  sc: $sc,
  white: $white,
  black: $black,
  red: $red,
  blue: $blue,
  green: $green,
  yellow: $yellow,
  orange: $orange,
  room: $room,
  cool: $cool,
  cold: $cold,
  gray: $gray,
  gray-light: $gray-light,
);
