@use "colors";
@use "base";
@use "nav";
@use "foot";
@use "button";
@use "hd";

.min {
  font-family: "Noto Serif JP", serif;
}

@each $key, $val in colors.$colors {
  .fc-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val !important;
  }
  .btn-#{$key} {
    background-color: $val;
    color: #f0f0f0;
    &:hover {
      color: #fff;
    }
  }
  .alert-#{$key} {
    background-color: lighten($val, 70%);
    color: darken($val, 5%);
    border: 1px solid $val;
    border-radius: 3px;
  }
}

h2 {
  &.heading {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: 576px) {
      margin-bottom: 0;
    }
    span {
      color: colors.$kc;
    }
    small {
      font-size: 1rem;
      &::before {
        content: "-";
        margin: 0 0.5rem;
      }
      &::after {
        content: "-";
        margin: 0 0.5rem;
      }
    }
    a {
      display: block;
      color: #fff;
      background-color: colors.$kc;
      margin-left: auto;
      font-size: 0.8rem;
      padding: 0.3rem 1rem;
      border-radius: 5px;
      &:hover {
        background-color: darken(colors.$kc, 5%);
      }
    }
  }
}

h3 {
  &.heading {
    text-align: center;
    span {
      color: colors.$kc;
      display: block;
    }
    small {
      font-size: 0.8rem;
    }
  }
}

h4 {
  font-size: 1.2rem;
  color: colors.$kc;
}

.table-base {
  th,
  td {
    padding: 1rem !important;
  }
  th {
    font-weight: normal;
    background-color: darken(colors.$gray-light, 2%) !important;
  }
  @media (max-width: 576px) {
    th,
    td {
      display: block;
    }
  }
}

.table-cart {
  th {
    font-weight: normal;
    background-color: colors.$kc !important;
    color: #fff;
  }
}

b {
  color: colors.$red;
}

form *:focus {
  box-shadow: none !important;
  border: 1px solid colors.$kc !important;
}
.form-floating label {
  font-size: 0.8rem;
  color: #999;
  padding: 1rem !important;
}
.form-floating label b {
  color: colors.$red;
  padding-left: 0.2rem;
}

.thumb01,
.thumb01-hold {
  position: relative;
  display: block;
  background-color: lighten(colors.$kc, 5%);
  background-size: cover;
  background-position: center center;
  &:before {
    display: block;
    content: "";
    padding-top: 60%;
    @media (max-width: 576px) {
      padding-top: 80%;
    }
  }
  &-hold:before {
    @media (max-width: 576px) {
      padding-top: 60%;
    }
  }
}

.thumb02 {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &:before {
    display: block;
    content: "";
    padding-top: 100%;
  }
}

.badge {
  font-weight: normal;
  padding: 0.27rem 0.5rem;
  margin-right: 0.3rem;
}

.ind-15 {
  text-indent: -1.5rem;
  margin-left: 1.5rem;
}

.page-link {
  background-color: colors.$kc;
  color: #ddd;
  border: 1px solid colors.$bc;
  &:hover {
    background-color: darken(colors.$kc, 5%);
    color: #fff;
    border: 1px solid colors.$bc;
  }
}

.news-detail {
  h2 {
    color: colors.$kc;
    margin-bottom: 1rem;
  }
}

.panel {
  .box {
    height: 100%;
    //background-color: darken(colors.$gray-light, 5%);
    .thumb {
      transition: 0.5s;
    }
    .title {
      display: block;
      background-color: colors.$kc;
      color: #fff;
      padding: 0.5rem 1rem;
      transition: 1s;
    }
    .exp {
      padding: 1rem 1rem;
      height: 100%;
    }
    &:hover {
      .thumb {
        filter: brightness(0.8);
      }
      .title {
        background-color: darken(colors.$kc, 10%);
      }
    }
  }
}

.data-list01 {
  .title {
    font-size: 1.2rem;
    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }
  .category {
    font-size: 0.7rem;
  }
  .update {
    text-align: right;
    font-size: 0.8rem;
  }
  .position-absolute {
    top: 0.5rem;
    left: 0rem;
    @media (max-width: 576px) {
      left: -0.3rem;
    }
  }
}

.privacy {
  line-height: 200%;
  h3 {
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: colors.$kc;
  }
  h4 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}

.faq {
  h3 {
    color: colors.$kc;
  }
}

#payjp_checkout_box input[type="button"] {
  background-image: none !important;
  background-color: colors.$kc !important;
  border: none !important;
  font-size: 1rem !important;
  &:hover {
    background-color: darken(colors.$kc, 5%) !important;
  }
}

#showcase {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgb(colors.$kc, 0.8);
  transition: 1s;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  img {
    max-height: 80vh;
  }
}

.cp {
  cursor: pointer;
}

.contact-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  h2:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
      content: "";
      width: 100px;
      height: 1px;
      background: colors.$kc;
      margin: 0 1rem;
    }
  }
  .partition {
    border-right: 1px dashed colors.$black;
  }
  @media screen and (max-width: 576px) {
    border: none;
    .partition {
      border-right: none;
      border-bottom: 1px dashed colors.$gray;
    }
  }
}

.score-board {
  &.score-wide {
    .score-point {
      font-size: 8rem;
    }
  }
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .score-point {
    font-size: 4rem;
  }
  img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
  }
  .team-logo {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-detail {
    font-size: 2rem;
  }
  @media screen and (max-width: 576px) {
    &.score-wide {
      .score-point {
        font-size: 4rem;
      }
    }
    &-title {
      font-size: 1.5rem;
    }
    .score-point {
      font-size: 4rem;
    }
    &-detail {
      font-size: 1.5rem;
    }
  }
}

.logo-fv {
  top: 45%;
  left: 10%;
  z-index: 99;
  transform: translateY(-50%);
  img {
    width: 25vw;
    filter: drop-shadow(1px 1px 7px #000);
    opacity: 0.9;
  }
  @media screen and (max-width: 576px) {
    top: 50%;
    left: 20px;
    img {
      width: 55vw;
      opacity: 1;
    }
  }
}

.border-gray {
  border-color: #333 !important;
}

.border-f {
  border-right: 1px solid;
  @media screen and (max-width: 576px) {
    border-right: none;
  }
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid black; /* 矢印の色 */
  border-top: 5px solid transparent; /* 上側の透明な境界 */
  border-bottom: 5px solid transparent; /* 下側の透明な境界 */
  transform-origin: center; /* X軸回転の中心を指定 */
  animation: spinX 2s infinite; /* 2秒間隔で無限にアニメーションを繰り返す */
}

@keyframes spinX {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.fix-bg {
  background-color: #000;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  height: 300px;
}
