$base:#FFF;
$main:#607D8B;
$accent:#689F38;
$btn:#607D8B;
$cred: #d81b60;
$cblue: #17a2b8;
$cgreen: #7cb342;
$cyellow:#FDD835;
$corange: #ffa000;
$normal:#FBC02D;
$cool:#2196F3;
$cold:#3F51B5;
$gray:#EEE;

$colors: (black:#222,
  base:#FFF,
  main:$main,
  accent:$accent,
  btn:$btn,
  cred:$cred,
  cblue: $cblue,
  cgreen:$cgreen,
  cyellow:$cyellow,
  corange:$corange,
  normal:$normal,
  cool:$cool,
  cold:$cold,
  gray:$gray
);
